<div class="row">
<div class="col-5 m-auto">
<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :id %>
<%= f.text_field :id %>
<%= f.submit 'Login' ,class:"btn btn-primary"%>
<% end%>
</div>
</div>