<nav class="nav justify-content-center">
<% if logged_in?%>
<%= link_to  "Home", user_path(current_user), class:"btn btn-dark"%>
<%= link_to  "All Events", events_path, class:"btn btn-success"%>
<%= link_to  "logout", logout_path , class:"btn btn-danger"%>
<% end%>
</nav>